---
layout: minimal
title: "Artigos relacionados: Banco de Dados"
permalink: /categoria/bd/index.html
description: "Lista de artigos relacionados à categoria: Banco de Dados"
category: 'bd'
---

<span class="tag-title">Banco de Dados</span>
<ul class="post-list">
    {% for post in site.posts %}
    {% if post.category == page.category %}
        <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%d/%m/%Y" }}</time></a></li>
    {% endif %}
    {% endfor %}
</ul>